.navbar-brand {
    color: white;
    /* padding: 10px 25px; */
    /* margin-left: 2%; */
	font-family: Georgia, "Times New Roman", Times, Serif;
	font-size: 35px;
    font-weight: bold;
    position:inherit;
    /* animation-name: navbar-brand;
    animation-duration: 0.8s;
    animation-timing-function: ease-in; */
}

/* @keyframes navbar-brand {
    0% {top: 0px; right: inherit;}
    25% {top: 30px; right: 10px;}
    50% {top: -20px; right: 15px;}
    75% {top: 5px; right: 17px;}
    100% {top: 10px; right: 20px;}
} */

.nav-link {
	font-size: 22px;
    color: black;
    font-weight: bold;
}

.form-group {
    font-weight: 500;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(black, #000099, #66c2ff, #ffcccc, #ffeee6);
    background-size: cover;
    background-position: center;
}

.main-content {
    margin-top: 6%;
}

.card {
    margin-left: 5%;
    margin-bottom: 10%;
    background-color: transparent;
    word-wrap: break-word;
}

.card-title {
    color:thistle;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
}

.img-fluid {
    float: left;
    padding: 10px;
    margin-top: 3%;
    margin-right: 3%;
    width: 250px;
    height: 250px;
}

.col-p-6-m-4 {
    word-wrap:break-word;
    font-size: 25px;
    color: white;
    text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
    font-weight: 500;
    font: outline;
    font-style: italic;
    float: left;
    padding: 5px;
    margin-left: 5%;
    margin-top: 10%;
}

.col-md-8 {
    margin-left: 5%;
    max-width: 90%;
}

.col-md-9 {
    max-width: 98%;
    margin-left: 5% ;
}

#projectDetails {
    color: blanchedalmond;
    float: right;
    font-weight: 400;
}

#youtwitchDetails {
    color: rgb(61, 56, 56);
    font-weight: 400;
}

#noteDetails {
    color: rgb(51, 48, 48);
    font-weight: 400;
    margin: 4px;;
}

#contactForm {
    float: left;
}

#contactLinks {
    float: left;
}

.footer {
        
    clear: both;
    width: 100%;
    text-align: center;
    line-height: 30px;
    bottom: 0;
    background-color: black;
  }
  